#root {
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  background-image: url("https://s3.amazonaws.com/noupe/2009/10/pattern-02.jpg");
}

img {
  width: 300px;
  margin-bottom: 6px;
  border-radius: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

html {
  scroll-behavior: smooth;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: burlywood;
}

div {
  margin-bottom: 4px;
}

button, input, h2, label, h1, footer, form button, div button {
  background-color: beige;
  border-radius: 8px;
}

form {
  font-weight: bold;
}

#signup, #posts-new, #login {
  background-color: steelblue;
  border-radius: 8px;
}

h1, h2 {
  text-align: center;
}